<!doctype html>
<html class="no-js" lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Foundation 5</title>
  		{{ "assets/css/foundation.css" | asset_url | stylesheet_tag }}
  		{{ "assets/css/jquery.dataTables.min.css" | asset_url | stylesheet_tag }}
              {{ "assets/css/responsive-tables.css" | asset_url | stylesheet_tag }}
  		{{ "assets/css/app.css" | asset_url | stylesheet_tag }}
  		{{ 'https://fonts.googleapis.com/css?family=Roboto:400,700,500' | asset_url | stylesheet_tag }}
  		{{ 'https://fonts.googleapis.com/css?family=Raleway' | asset_url | stylesheet_tag }}
  		<script src="{{ "modernizr.js" | asset_url }}"></script>
	</head>
	<body>
		{% block content %}{% endblock %}
  		{% include "scripts" %}
  		<script>
  		 $(document).foundation();
  		 </script>
	</body>
</html>